section#inicio {
    padding: 30px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap; 
    height: 800px;
}

.inicioContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.apresentacaoContainer {
    display: flex;
    justify-content: left;
    gap: 50px;
}

.Apresentacao{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.apresentacaoContainer img {
    margin: 5%;
}

.Apresentacao h1 {
    font-family: var(--fontePrimaria);
    font-size: var(--fonteTitulo); 
    color: var(--corFonte);
    text-transform: uppercase;
}

.Apresentacao h2 {
    font-family: var(--fontePrimaria);
    font-size: var(--fonteSubtitulo);
    color: var(--corDetalhe); 
    margin-bottom: 30px;
}

.Apresentacao p {
    font-size: var(--fonteParagrafo); 
    border-left: solid;
    border-color: var(--corFonte); 
    padding: 5px 15px 5px;
    width: 90%;
    text-align: justify;
}

.Apresentacao span {
    color: var(--corDestaque);
    font-style: italic;
    font-weight: bold;
}

.sobreContainer {
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 50px;
}

.Sobre {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 5%;

}

.Sobre h2 {
    font-weight: 900;
    font-size: 40px;
}

.Sobre p {
    text-align: justify;
    font-size: var(--fonteDetalhe);
}

.sobreContainer img {
    height: 294px;
}

